@use "xterm/css/xterm.css";
@use "../../styles/theme" as *;

// Block: Terminal
.terminal {
  @include full-height;
  @include full-width;
  background-color: $surface-950;
  padding: 0;
  @include overflow-hidden;

  // Element: Container
  &__container {
    @include full-height;
    @include full-width;
    background-color: $surface-950;
  }

  // xterm.js integration
  ::ng-deep {
    .xterm {
      @include full-height;
      padding: $spacing-2;

      .xterm-viewport {
        background-color: transparent !important;
      }
    }
  }
}
