@use '../../../packages/frontend/ui/src/styles/theme' as *;

:root {
  --p-primary-500: #6366f1;
  --p-primary-500-rgb: 99, 102, 241;
  color-scheme: dark;
}

html,
body {
  @include full-screen;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $surface-950;
  color: $surface-0;
  font-family: $font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $surface-700;
  border-radius: 10px;

  &:hover {
    background: $surface-600;
  }
}

.font-sans {
  font-family: $font-sans;
}
.font-mono {
  font-family: $font-mono;
}
